/* General */

.container {
  width: 960px;
	margin: 0px auto;
}

.header {
	text-align: center;
	background-color: rgba(51,153,102,0.4);
  border: 2px solid #336633;
  
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 300;
  
  font-size: 17px;
  padding: 15px;
}

/* Slideshow */

.slideshow {
	width: 600px;
  margin: 0px auto;
	padding-top: 15px;
}

.slide {
  display: none;
}

.slide1 {
	display: block;	
}

.slider-nav {
	border-top: 1px solid #ddd;
  text-align: center;
  margin-top: 30px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}