body {
  font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	left: 0;
	margin: 0;
	overflow: auto;
	color: #ffffff;
}

p {
	border-bottom: 1px solid #c0c0c0;
}

.menu {
	background: rgba(0, 0, 0, 0.3);
  left: -225px;
  height: 100%;
  position: fixed;
  width: 220px;
	padding-top: 60px;	
}

.menu ul {
  border-top: 1px solid #c0c0c0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
	border-bottom: 1px solid #c0c0c0;
  line-height: 45px;
}

.menu a {
	display: block;
	color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
	padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu li a:hover {
	background: rgba(255, 255, 255, 0.3);		
}

.menu li a.selected {
	background: rgba(255, 255, 255, 0.3);		
}

.icon-menu {
	color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left:  245px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
	float: left;
	position: fixed;
}

.icon-menu i {
  margin-right: 5px;
}

.wallpaper {
	background-image: url("wallpaper.jpg");
	height: 100%;
	width: 100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	position: fixed;
	overflow: auto;	 
}

.container {
  position: relative;
  width: 960px;
	margin: 0px auto;
	overflow: hidden;
	display: none;
	padding-top: 40px;
	padding-bottom: 40px;
}

.header {
	padding-top: 30px;
	padding-left: 28%;
	color: #ffffff;
}

/*CV*/
#cv {
	background: rgba(0, 0, 0, 0.5);
	padding:15px;
}

.column {
  float: left;
  width: 50%;
}

.row {
	font-size: 14px;
	text-align: justify;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Slideshow */

.slideshow {
	width: 600px;
  margin: 0px auto;
}

.slide {
  display: none;
}

.slide1 {
	display: block;	
}

.slider-nav {
	border-top: 1px solid #c0c0c0;
  text-align: center;
  margin-top: 30px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 17px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 17px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #c0c0c0;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #000000;
}
